{% extends "students/base.html" %}

{% block body %}
<h3 class="m-3">All Students</h3>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<div class="row">
    <div class="col-12">
        {% if students %}
        <div class="card bg-light ms-4 me-4 mb-4" >
            <div class="card-header">
                <i class="fa-solid fa-list fa-lg"></i>
            </div>
            <div class="card-body">
              <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Student Number</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Study Field</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr class="py-2">
                                    <td>{{student.name}}</td>
                                    <td>{{student.age}}</td>
                                    <td>{{student.address}}</td>
                                    <td>{{student.grade}}</td>
                                    <td>{{student.major}}</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#exampleModal{{student.id}}">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </button>      
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{student.id}}" tabindex="-1" aria-labelledby="exampleModalLabe1" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Student: {{student.name}}
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- <ul class="list-unstyled"> -->
                                                      <div class="form-group mb-1">
                                                        <fieldset disabled="">
                                                          <label class="form-label" for="disabledInput">Student Name : </label>
                                                          <input class="form-control" id="disabledInput" type="text" placeholder="{{student.name}}" disabled="">
                                                        </fieldset>
                                                      </div>
                                                      <div class="form-group mb-1">
                                                        <fieldset disabled="">
                                                          <label class="form-label" for="disabledInput">Age:</label>
                                                          <input class="form-control" id="disabledInput" type="text" placeholder="{{student.age}}" disabled="">
                                                        </fieldset>
                                                      </div>
                                                      <div class="form-group mb-1">
                                                        <fieldset disabled="">
                                                          <label class="form-label" for="disabledInput">Address:</label>
                                                          <input class="form-control" id="disabledInput" type="text" placeholder="{{student.address}}" disabled="">
                                                        </fieldset>
                                                      </div>
                                                      <div class="form-group mb-1">
                                                        <fieldset disabled="">
                                                          <label class="form-label" for="disabledInput">Grade:</label>
                                                          <input class="form-control" id="disabledInput" type="text" placeholder="{{student.Grade}}" disabled="">
                                                        </fieldset>
                                                      </div>
                                                      <div class="form-group mb-1">
                                                        <fieldset disabled="">
                                                          <label class="form-label" for="disabledInput">Major:</label>
                                                          <input class="form-control" id="disabledInput" type="text" placeholder="{{student.major}}" disabled="">
                                                        </fieldset>
                                                      </div>
                                                        <!-- <li>Student Number: <strong>{{student.student_number}}</strong></li>
                                                        <li>First Name: <strong>{{student.first_name}}</strong></li>
                                                        <li>Last Name: <strong>{{student.last_name}}</strong></li>
                                                        <li>Email: <strong>{{student.email}}</strong></li>
                                                        <li>Study Field: <strong>{{student.field_of_study}}</strong></li> -->
                                                    <!-- </ul> -->
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <a class="btn btn-warning me-2" href="{% url 'edit_student' student.id %}">
                                          <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                        </a>

                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteStudent{{student.id}}">
                                          <i class="fa-solid fa-trash-can fa-lg"></i>
                                      </button>
                                      <!-- Modal -->
                                      <div class="modal fade" id="deleteStudent{{student.id}}" tabindex="-1" aria-labelledby="exampleModalLabe2" aria-hidden="true">
                                          <div class="modal-dialog">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">
                                                  Student: {{student.name}}
                                              </h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                <p>Are you sure want to delete this student?</p>            
                                              </div>
                                              <div class="modal-footer">
                                              <form action="{% url 'delete_student' student.id %}"method='POSt'>
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-primary" value="Delete">
                                              </form>
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                              </div>
                                          </div>
                                          </div>
                                      </div> 
                                    </td>
                                </tr>
                            {% endfor %}
                          
                        </tbody>
                      </table>
                </div>
              </p>
            </div>
        </div>
        {% else %}
        <h5 class="alert alert-danger mx-4">No Students Record</h5>
        {% endif %}
    </div>
</div>
{% endblock %}